$color-open:              #a3ffa3
$color-not-available:     #feaeae
$color-link:              #000

.room
    .days
        .day
            .open
                background: $color-open

                a
                    color: $color-link
                    transition: all .2s ease-in-out

                    &:hover, &:focus, &:active
                        text-decoration: none
                        background: darken($color-open, 10%)

                &.not-available
                    background: $color-not-available

                &.past
                    background: none

    .booking-form
        form
            .form-group
                &.gdpr
                    label
                        margin: 0
                        margin-bottom: 0px
                        font-size: 0.875rem
                        cursor: pointer
                        width: 100%
                        display: flex
                        align-items: start
                        line-height: 1.2

                        input
                            margin-right: 10px
                            cursor: pointer